body {
  background: url('../img/fabric_of_squares_gray.png');
  font-family:"BebasNeueRegular", sans-serif;
}

hr{
  margin-top: 10px;
}

input{
  text-align: center;
  font-family:"BebasNeueRegular", sans-serif;
}

.alert{
  text-align: center;
  width: 300px;
}

.logo{
  width: 55px;
  margin: 0px auto;
}

.logo-text{
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}


.navbar-inner{
  background-color: #1A3666;
}

.form-signin {
  max-width: 350px;
  padding: 19px 29px 29px;
  margin: 100px auto 20px;
  background-color: rgba(255,255,255, .9);
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
          border-radius: 15px;
   -webkit-box-shadow: 0 6px 10px rgba(0,0,0,.07);
      -moz-box-shadow: 0 6px 10px rgba(0,0,0,.07);
          box-shadow: 0 6px 10px rgba(0,0,0,.07);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.footer {
    position: fixed;
    color: white;
    background-color: black;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 50px;
}
